src/main/resources/wsdl/18072single-service-hr.wsdl

<wsdl:definitions name="SingleServiceHrWsImplService"
                  targetNamespace="http://soap.singleservicehr.creditpipeline.intellect.group/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://soap.singleservicehr.creditpipeline.intellect.group/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema elementFormDefault="unqualified"
                   targetNamespace="http://soap.singleservicehr.creditpipeline.intellect.group/" version="1.0"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="createEmployee" type="tns:createEmployee"/>
            <xs:element name="createEmployeeResponse" type="tns:createEmployeeResponse"/>
            <xs:element name="createSubdivision" type="tns:createSubdivision"/>
            <xs:element name="createSubdivisionResponse" type="tns:createSubdivisionResponse"/>
            <xs:element name="createUser" type="tns:createUser"/>
            <xs:element name="createUserResponse" type="tns:createUserResponse"/>
            <xs:complexType name="createEmployee">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:employeeCreationRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="employeeCreationRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="INTEGRATION_ID" type="xs:string"/>
                    <xs:element minOccurs="0" name="FACEID" type="xs:string"/>
                    <xs:element minOccurs="0" name="DEPARTID" type="xs:string"/>
                    <xs:element minOccurs="0" name="STATUS" type="xs:string"/>
                    <xs:element minOccurs="0" name="ESCDATE" type="xs:string"/>
                    <xs:element minOccurs="0" name="LASTNAME" type="xs:string"/>
                    <xs:element minOccurs="0" name="FIRSTNAME" type="xs:string"/>
                    <xs:element minOccurs="0" name="MIDDLENAME" type="xs:string"/>
                    <xs:element minOccurs="0" name="UNIQUENAME" type="xs:string"/>
                    <xs:element minOccurs="0" name="BRIEFNAME" type="xs:string"/>
                    <xs:element minOccurs="0" name="BIRTHDAY" type="xs:string"/>
                    <xs:element minOccurs="0" name="POST" type="xs:string"/>
                    <xs:element minOccurs="0" name="ORGNAME" type="xs:string"/>
                    <xs:element minOccurs="0" name="TABNUM" type="xs:string"/>
                    <xs:element minOccurs="0" name="PERSONID" type="xs:string"/>
                    <xs:element name="ISMANAGER" type="xs:boolean"/>
                    <xs:element name="ISSECMANAGER" type="xs:boolean"/>
                    <xs:element name="ISBLOCKMANAGER" type="xs:boolean"/>
                    <xs:element name="ISCURATOR" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="SORTCODE" type="xs:string"/>
                    <xs:element minOccurs="0" name="STATUS_DEKRET" type="xs:string"/>
                    <xs:element minOccurs="0" name="DEKRETDT" type="xs:string"/>
                    <xs:element minOccurs="0" name="SEX" type="xs:string"/>
                    <xs:element minOccurs="0" name="STATUS_FIO_P" type="xs:string"/>
                    <xs:element minOccurs="0" name="FIO_POST" type="xs:string"/>
                    <xs:element minOccurs="0" name="DEPART_PARENT" type="xs:string"/>
                    <xs:element minOccurs="0" name="POST_SHORT" type="xs:string"/>
                    <xs:element minOccurs="0" name="POST_ID" type="xs:string"/>
                    <xs:element minOccurs="0" name="ZPHONE_1" type="xs:string"/>
                    <xs:element minOccurs="0" name="ZPHONE_2" type="xs:string"/>
                    <xs:element minOccurs="0" name="ZPHONE_MOB_1" type="xs:string"/>
                    <xs:element minOccurs="0" name="ZPHONE_MOB_2" type="xs:string"/>
                    <xs:element minOccurs="0" name="ZUSRID_LONG" type="xs:string"/>
                    <xs:element minOccurs="0" name="AEDTM" type="xs:string"/>
                    <xs:element minOccurs="0" name="DHIRE" type="xs:string"/>
                    <xs:element minOccurs="0" name="KTEXT" type="xs:string"/>
                    <xs:element minOccurs="0" name="ZZFLOOR" type="xs:string"/>
                    <xs:element minOccurs="0" name="ZZROOM" type="xs:string"/>
                    <xs:element minOccurs="0" name="VIEWSTATUS" type="xs:string"/>
                    <xs:element minOccurs="0" name="PREVUNIQUENAME" type="xs:string"/>
                    <xs:element minOccurs="0" name="POSTRANG" type="xs:string"/>
                    <xs:element minOccurs="0" name="BS" type="xs:string"/>
                    <xs:element minOccurs="0" name="FN" type="xs:string"/>
                    <xs:element minOccurs="0" name="KPS" type="xs:string"/>
                    <xs:element minOccurs="0" name="RMPRF" type="xs:string"/>
                    <xs:element minOccurs="0" name="MVZ" type="xs:string"/>
                    <xs:element minOccurs="0" name="SYSMOMENT" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createEmployeeResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:employeeCreationResponce"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="employeeCreationResponce">
                <xs:sequence>
                    <xs:element minOccurs="0" name="result" type="tns:result"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createSubdivision">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:subdivisionCreationRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="subdivisionCreationRequest">
                <xs:sequence>
                    <xs:element name="externalId" type="xs:int"/>
                    <xs:element name="externalParentId" type="xs:int"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element name="parentId" type="xs:int"/>
                    <xs:element minOccurs="0" name="source" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createSubdivisionResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:subdivisionCreationResponce"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="subdivisionCreationResponce">
                <xs:sequence>
                    <xs:element minOccurs="0" name="result" type="tns:result"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createUser">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:userCreationRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="userCreationRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="business" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="fullName" type="xs:string"/>
                    <xs:element minOccurs="0" name="gender" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="login" type="xs:string"/>
                    <xs:element name="manager" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="phone" type="xs:string"/>
                    <xs:element minOccurs="0" name="position" type="xs:string"/>
                    <xs:element minOccurs="0" name="secondName" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" type="tns:status"/>
                    <xs:element minOccurs="0" name="subBusiness" type="xs:string"/>
                    <xs:element minOccurs="0" name="unitId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createUserResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:userCreationResponce"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="userCreationResponce">
                <xs:sequence>
                    <xs:element minOccurs="0" name="result" type="tns:result"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="result">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="SUCCESS"/>
                    <xs:enumeration value="FAILURE"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="status">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="onwork"/>
                    <xs:enumeration value="escape"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createUserResponse">
        <wsdl:part element="tns:createUserResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createSubdivisionResponse">
        <wsdl:part element="tns:createSubdivisionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createEmployeeResponse">
        <wsdl:part element="tns:createEmployeeResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createEmployee">
        <wsdl:part element="tns:createEmployee" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createSubdivision">
        <wsdl:part element="tns:createSubdivision" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createUser">
        <wsdl:part element="tns:createUser" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="SingleServiceHrWs">
        <wsdl:operation name="createEmployee">
            <wsdl:input message="tns:createEmployee" name="createEmployee"/>
            <wsdl:output message="tns:createEmployeeResponse" name="createEmployeeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createSubdivision">
            <wsdl:input message="tns:createSubdivision" name="createSubdivision"/>
            <wsdl:output message="tns:createSubdivisionResponse" name="createSubdivisionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <wsdl:input message="tns:createUser" name="createUser"/>
            <wsdl:output message="tns:createUserResponse" name="createUserResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SingleServiceHrWsImplServiceSoapBinding" type="tns:SingleServiceHrWs">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createEmployee">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createEmployee">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createSubdivision">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createSubdivision">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createSubdivisionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createUser">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SingleServiceHrWsImplService">
        <wsdl:port binding="tns:SingleServiceHrWsImplServiceSoapBinding" name="SingleServiceHrWsImplPort">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>